// $logo-color: #23458f;
//
// $super-awesome-font: Helvetica, sans-serif;
//
// $super-awesome-font-size: (13/8) * 1em;
//
// $alert-weight: bold;
//
// $alert-font-color: #222;
//
// $alert-success-color: green;
// $alert-warning-color: yellow;
// $alert-error-color: red;
// $alert-info-color: aquamarine;
// $shadow-color: rgba(0,0,0,.5);
//
// $alert-border-radius: 6px;

// Fonts
$font1: 'Catamaran', sans-serif;
$font2: 'Titillium Web', sans-serif;
$font3: 'Martel Sans', sans-serif;

// Colors
$accent: rgb(255,160,0);
