<div class="signup">
  <label for="name">Enter your first name (or a nickname!)</label>
  <input type="text" name="name" class="shadow-1" ng-model="user.signup.name">
  <label for="password">Choose a password</label>
  <input type="password" name="password" class="shadow-1" ng-model="user.signup.password">
  <label for="passwordConfirm">Confirm your password</label>
  <input type="password" name="passwordConfirm" class="shadow-1" ng-model="user.signup.passwordConfirm">
  <input type="submit" ng-click="users.signup(user.signup.name,user.signup.password,user.signup.passwordConfirm)">
</div>
