<nav>
  <img src="./img/icons/menu.png" class="mobile-menu pointer" alt="Main Menu" title="Main Menu" ng-click="toggle('menu')" ng-show="!forms.menu">
  <img src="./img/icons/close_3x.png" class="mobile-menu pointer" alt="Close Menu" title="Close Menu" ng-click="toggle('menu')" ng-show="forms.menu">
  <div class='links' ng-show="!forms.search">
    <a href="https://www.pinterest.com/shelbytson/recipes/" target="_blank"><i class="fa fa-pinterest" aria-hidden="true" class="link"></i></a>
    <a href="https://www.instagram.com/thesunandthespoon/" target="_blank"><i class="fa fa-instagram" aria-hidden="true" class="link"></i></a>
    <a href="https://www.facebook.com/thesunandthespoon/" target="_blank"><i class="fa fa-facebook" aria-hidden="true" class="link"></i></a>
    <a href="mailto:thesunandthespoon@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true" class="link"></i></a>
  </div>
  <input id="search" class="animated fadeIn" type="text" ng-show="forms.search" ng-model="view.searchText" placeholder="Search..." autofocus>
  <img src="./img/icons/close_3x.png" id="clear-search" class="pointer" alt="Clear Search" title="Clear Search" ng-show="forms.search" ng-click="view.searchText = '';toggle('search')">
  <i class="fa fa-search fa-lg search pointer" aria-hidden="true" ng-click="toggle('search')"></i>
</nav>
