@import 'helpers/all';
// @import 'base/all';
// @import 'modules/all';

::-webkit-scrollbar {
    display: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.pointer {
  cursor: pointer;
}
.state-title {
  margin: 0;
  text-align: center;
  font-variant: small-caps;
}

@media(min-width: 320px) { // iPhone 5
  body {
    margin: 0;
    padding: 0;
    width: 95vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    font-family: $font1;
  }
  nav {
    padding: 10px;
    z-index: 50;
    width: calc(100vw - 5vw);
    border-top: 1px solid rgba(grey,0.25);
    background: white;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .mobile-menu {
      height: 2.5em;
    }
  }
  .title {
    font-variant: small-caps;
    position: relative;
    top: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 25;
    #underline {
      border-bottom: 1px solid black;
      width: 100%;
    }
  }
  sun-menu {
    width: 100vw;
    height: 100vh;
    z-index: 49;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    display: flex;
    flex-flow: row wrap;
    .menu {
      width: 100%;
      padding: 2.5vw;
      height: 75vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      .state-link {
        font-size: 1.85em;
        padding: 5px;
      }
    }
    .mini-me {
      padding: 5px;
      margin-bottom: 80px;
      width: 100%;
      border-top: 1px solid rgba(grey,0.25);
      display: flex;
      flex-flow: column;
      align-items: center;
      #preview-headshot {
        margin-top: 85px;
        width: 80%;
        border-radius: 8px;
      }
      p {
        text-align: center;
      }
    }
  }
  #main {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    height: calc(100vh - 135px);
  }
  .home {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
  }
  .preview {
    width: 95%;
    .preview-date, .preview-title, .preview-category {
      margin: 0;
    }
    .preview-category {
      margin-bottom: 70px;
    }
    .recipe-preview {
      width: 100%;
    }
    margin-bottom: 500px;
  }
  .about-me {
    margin-bottom: 80px;
    img {
      width: 100%;
    }
    p {
      font-size: 1.1em;
    }
  }
  footer {
    position: absolute;
    top: 0;
    left: 0;
    width: 95vw;
  }
  .recipe {
    margin-bottom: 80px;
    display: flex;
    flex-flow: row wrap;
    .recipe-title {
      width: 100vw;
    }
    .image-primary, .image-secondary {
      width: 60%;
      height: 60%;
    }
    .image-secondary {
      align-self: flex-end;
    }
    .ingredients {
      width: 100%;
      ul {
        li {
          font-size: 0.75em;
        }
      }
    }
    .instructions {
      width: 100%;
    }
  }
}

@media(min-width: 375px) { // iPhone 6
  .title {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .recipe {
    .image-secondary {
      align-self: flex-start;
      width: 50%;
    }
    .ingredients {
      width: 45%;
    }
  }
}

@media(min-width: 414px) { // iPhone 6 Plus
  body {
    width: 90vw;
  }
  nav {
  }
  .title {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  sun-menu {
    font-size: 1.1em;
  }
  .recipe {
    .image-secondary {
      padding: 10px;
      align-self: center;
      width: 45%;
      height: 45%;
    }
    .ingredients {
      width: 45%;
    }
  }
  footer {
    width: 90vw;
  }
}

@media(min-width: 768px) { // iPad - Portrait
  .title {
    font-size: 2.8em;
    position: fixed;
    width: 90vw;
  }
  nav {
    background: none;
    position: fixed;
    margin-top: 100px;
    width: 90vw;
    border: none;
    position: fixed;
    top: 0;
    left: auto;
    height: 0%;
  }
  sun-menu {
    padding-top: 150px;
    width: 100%;
    justify-content: space-between;
    .menu {
      width: 45%;
      height: 60vh;
      border-right: 1px solid rgba(grey,0.25);
    }
    .mini-me {
      margin: 5px;
      border: none;
      width: 45%;
      height: 75vh;
      #preview-headshot {
        margin: 0;
        padding: 0;
        width: 50%;
      }
    }
  }
  .state {
    padding-top: 125px;
  }
  .home {
    margin-bottom: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .preview {
      width: 30%;
    }
  }
  .about-me {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    img {
      width: 60%;
    }
  }
  .recipe {
    .image-primary {
      width: 40%;
    }
    .image-secondary {
      width: 50%;
    }
    .ingredients {
      width: 30%;
    }
  }
}

@media(min-width: 1024px) { // iPad - Landscape
  body {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .home {
    .preview {
      width: 19%;
    }
  }
}
