<div class="menu animated fadeIn">
  <a ui-sref="home" class="state-link" ng-click="forms.menu = false">Home</a>
  <!-- <a ui-sref="recipes" class="state-link" ng-click="forms.menu = false">Recipes</a> -->
  <a ui-sref="about-me" class="state-link" ng-click="forms.menu = false">About Me</a>
  <!-- <a ui-sref="users" class="state-link" ng-click="forms.menu = false">Sign In | Sign Up</a> -->
</div>
<div class="mini-me animated fadeIn">
  <img src="./img/shelby.jpg" alt="Shelby Thompson" title="Shelby Thompson" id="preview-headshot">
  <h1>Hi.</h1>
  <p>I'm Shelby.</p>
  <p>I love my dogs, yoga, and everything about food.</p>
</div>
