<!DOCTYPE html>
<html lang="en" ng-app="theSun">
<head>
  <!-- SEO & Accessibility -->
  <meta charset="UTF-8">
  <meta name="viewport" charset="UTF-8" content="width=device-width,initial-scale=1,user-scalable=no">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <!-- CSS -->
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/animate.min.css">
  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.14/angular-ui-router.js" charset="utf-8"></script> <!-- uiRouter CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.js" charset="utf-8"></script> <!-- ngSanitize -->
  <script src="./javascript/sun.js"></script>
  <script src="./javascript/controllers/controllers.js"></script>
  <script src="./javascript/directives/directives.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> <!-- jQuery CDN -->
  <script src="./javascript/resources/header.js" charset="utf-8"></script>
  <!-- Other -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:200|Martel+Sans:200|Titillium+Web:200" rel="stylesheet"> <!-- Google Fonts -->
  <script src="https://use.fontawesome.com/67cec8fdd7.js"></script> <!-- Font Awesome (icons) -->
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  <base href="/">
  <title>The Sun & The Spoon</title>
</head>
<body ng-controller="SunController">


  <h1 id="title"><a ui-sref="home"><span id="underline">The Sun & The Spoon</span></a></h1>
  <nav>
    <img src="./img/icons/menu.png" class="mobile-menu pointer" alt="Main Menu" title="Main Menu" ng-click="toggle('menu')" ng-show="!forms.menu">
    <img src="./img/icons/close_3x.png" class="mobile-menu pointer" alt="Close Menu" title="Close Menu" ng-click="toggle('menu')" ng-show="forms.menu">
    <div class='links' ng-show="!forms.search">
      <a href="https://www.pinterest.com/shelbytson/recipes/" target="_blank"><i class="fa fa-pinterest" aria-hidden="true" class="link"></i></a>
      <a href="https://www.instagram.com/thesunandthespoon/" target="_blank"><i class="fa fa-instagram" aria-hidden="true" class="link"></i></a>
      <a href="https://www.facebook.com/thesunandthespoon/" target="_blank"><i class="fa fa-facebook" aria-hidden="true" class="link"></i></a>
      <a href="mailto:thesunandthespoon@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true" class="link"></i></a>
    </div>
    <input id="search" class="animated fadeIn" type="text" ng-show="forms.search" ng-model="view.searchText" placeholder="Search..." autofocus>
    <img src="./img/icons/close_3x.png" id="clear-search" class="pointer" alt="Clear Search" title="Clear Search" ng-show="forms.search" ng-click="view.searchText = '';toggle('search')">
    <i class="fa fa-search fa-lg search pointer" aria-hidden="true" ng-click="toggle('search')"></i>
  </nav>

  <sun-menu ng-show="forms.menu"></sun-menu>

  <div ui-view id="main"></div>

  <!-- <footer>
    <p>Copyright &copy; 2016 <a href="www.conorkingston.com" target="_blank">conor kingston</a></p>
  </footer> -->


</body>
</html>
